OTHER_LDFLAGS=$(inherited) -ObjC -fobjc-arc -lz -framework CoreText -framework CoreMedia -framework MediaPlayer -framework AVFoundation -framework ImageIO -framework MessageUI -framework CoreGraphics -framework Foundation -framework QuartzCore -framework CFNetwork -framework MobileCoreServices -framework SystemConfiguration -framework AssetsLibrary -weak_framework UIKit
