PSPDFKIT_LDFLAGS=-ObjC -fobjc-arc -lz -framework CoreText -framework CoreMedia -framework MediaPlayer -framework AVFoundation -framework ImageIO -framework MessageUI -framework CoreGraphics -framework Foundation -framework QuartzCore -framework CFNetwork -framework MobileCoreServices -framework SystemConfiguration -framework AssetsLibrary -framework Security -framework UIKit
OTHER_LDFLAGS=$(inherited) $(PSPDFKIT_LDFLAGS)
