<!DOCTYPE html>
<html>
<head>
<meta charset='utf-8'>
<title>{{ page.title }}</title>
<meta name="format-detection" content="telephone=no" />
<meta name="description" content="PSPDFKit - The definitive framework/library for displaying and annotating PDFs in your iOS apps.">
<meta name="author" content="Peter Steinberger">
<link rel="stylesheet" type="text/css" href="style.css" media="screen" />
<link href="http://fonts.googleapis.com/css?family=PT+Sans:r,b,i,bi" rel="stylesheet" type="text/css" />
</head>

<body class="home blog safari layout-left-content">
<div id="wrapper">
<div id="header-container">
  <div id="header" class="col-full">
    <div id="logo"> <a href="http://pspdfkit.com" title="PSPDFKit - The definitive framework for displaying and annotating PDFs in your iOS apps.">
      <h1 class="title">PSPDFKit</h1>
      </a> </div>
    <!-- /#logo -->
    
    <div id="navigation" class="fr">
      <div class="nav">
        <ul id="menu-menu-1" class="menu">
          <li id="menu-item-92" class="menu-item menu-item-type-custom menu-item-object-custom {{ page.index }} menu-item-home menu-item-92"><a href="/">Home</a></li>
          <li id="menu-item-94" class="menu-item {{ page.features }} menu-item-type-post_type menu-item-object-page menu-item-94"><a href="features.html">Features</a></li>
          <li id="menu-item-93" class="menu-item {{ page.purchase }} menu-item-type-post_type menu-item-object-page menu-item-93"><a href="purchase.html">Purchase</a></li>
          <li id="menu-item-105" class="menu-item {{ page.documentation }}  menu-item-type-post_type menu-item-object-page menu-item-105"><a href="documentation.html">Documentation</a></li>
          <li id="menu-item-106" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-105"><a href="http://github.com/PSPDFKit/PSPDFKit-Demo/zipball/master">Download Free Demo</a></li>
        </ul>
      </div>
      <!-- /.nav --> 
      
    </div>
    <!-- /#navigation -->
    <div class="fix"></div>
  </div>
  <!-- /#header --> 
</div>
<!-- /#header-container --> 

{{ content }}
<div id="footer-container">
  <div id="footer" class="col-full">
    <div id="copyright" class="col-left">
      <p>Copyright &copy; 2010-2012 Peter Steinberger. All Rights Reserved. 
      <br>
        <a href="http://twitter.com/PSPDFKit">Follow @PSPDFKit on Twitter!</a> <span style="color:#333333">|</span> 
        <a href="mailto:pspdfkit@petersteinberger.com">Contact</a> <span style="color:#333333">|</span>
        <a href="/imprint.html">Imprint</a>        
      </p>
    </div>
    <div id="credit" class="col-right" style="color:#444444">
      <p>Proudly made in Austria, Europe</p>
    </div>
  </div>
</div>
<script src="//static.getclicky.com/js" type="text/javascript"></script>
<script type="text/javascript">try{ clicky.init(66459350); }catch(e){}</script>
<noscript><p><img alt="Clicky" width="1" height="1" src="//in.getclicky.com/66459350ns.gif" /></p></noscript>
<script type="text/javascript">

				    var _gaq = _gaq || [];
				    _gaq.push(['_setAccount', 'UA-24870066-1']);
				    _gaq.push(['_trackPageview']);

				    (function() {
				      var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
				      ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
				      var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
				    })();

				  </script>
				
</body>
</html>
